@using ZJB.Api.Models;
@using ZJB.Core.Utilities
@using ZJB.Api.Entity;
@model  List<VPublicUserPointLog>
@{
    Layout = null;
    HDictionary hd = new HDictionary();
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <link href='~/Content/common.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/saleManager.css' rel='stylesheet' type='text/css' />
    <link href='~/Content/fanye.css' rel='stylesheet' type='text/css' />
</head>
<body>

    <!--  隐藏参数   -->
    <div>

    </div>
    <div id="saleHouse" class="saleHouse">
        <div class="saleHouse-main">
            <div class="selectHouse">
                <!-- 数据内容区 -->
                <div class="saleManager-state-content con1 mm30">
                    
                    <div class="search_bar dn" id="searchDiv" style="display: block;">
            			<span class="srfrm_input_box search with_del append ">
                			<a id="searchBt" href="javascript:" class="frm_input_append"  onclick="searchbtn();"><i class="icon16_common search_gray">搜索</i>&nbsp;</a>
                			<input id="keyInput" type="text" placeholder="手机号/用户名/UserID/说明" value="@ViewBag.KeyWord" class="srfrm_input">
            			</span>
    				</div>
                    <div class="sub_title_bar">
                        <h3 id="page_title">
                            <span id="query_tips">总数</span>(共<span id="js_listCount">@(ViewBag.Count)</span>条)
                        </h3>
                    </div>

                    <div class="table_wrp files list">
                        <table class="h_list" width="100%" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <td>用户</td>
                                    <td>说明</td>
                                    <td>积分</td>
                                    <td>时间</td>
                                    <td>当前积分</td>
                                </tr>
                            </thead>
                            <tbody id="filelist">
                                @{
                                    foreach (VPublicUserPointLog item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <span style="color: #999">@item.Name</span>
                                                <br /><span style="color: #999">@item.UserId</span>
                                            </td>
                                            <td style="width: 350px">
                                                <span style="position: relative">
                                                    @item.Description
                                                </span>
                                               

                                            </td>
                                            <td>
                                                @item.Points

                                            </td>
                                          
                                            <td>
                                                @item.AddTime
                                            </td>
                                            <td>
                                                @item.CurrentPoints
                                            </td>
                                         
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="tool_area clearfix">
                            <span class="totalSize"><input name="chkall" type="checkbox"> 全选</span>
                            <div class="pagination">
                                <span class="page_nav_area">
                                    <a href="@WrightPageUrl(1)" class="btn page_first"><i class="arrow"></i>首页</a>
                                    @if (ViewBag.PageIndex == 1)
                                    {
                                        <a href="javascript:void(0);" class="btn page_prev"><i class="arrow"></i></a>
                                    }
                                    else
                                    {
                                        <a href="@WrightPageUrl(ViewBag.PageIndex - 1)" class="btn page_prev"><i class="arrow"></i></a>
                                    }
                                    <span class="page_num">
                                        <label>@ViewBag.PageIndex</label><span class="num_gap">/</span><label>@ViewBag.PageTotal</label>
                                    </span>
                                    @if (ViewBag.PageIndex == ViewBag.PageTotal)
                                    {
                                        <a href="javascript:void(0);" class="btn page_next"><i class="arrow"></i></a>
                                    }
                                    else
                                    {
                                        <a href="@WrightPageUrl(ViewBag.PageIndex + 1)" class="btn page_next"><i class="arrow"></i></a>
                                    }
                                    <a href="@WrightPageUrl(ViewBag.PageTotal)" class="btn page_last">尾页</a>
                                </span>
                                <span class="goto_area">
                                    <input type="text"><a href="javascript:void(0);" class="btn page_go">跳转</a>
                                </span>
                                <input type="hidden" value="@ViewBag.PageIndex" id="pageIndex" />
                                <input type="hidden" value="@ViewBag.PageSize" id="pageSize" />
                                <input type="hidden" value="@ViewBag.PageTotal" id="pageTotal" />

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <script src='~/Scripts/jquery-1.8.3.js' type='text/javascript'></script>
    <script src='~/Scripts/placeholder.js' type='text/javascript'></script>
    <script src='~/Scripts/common.js?v=115' type='text/javascript'></script>
    <script src='~/Scripts/map.js' type='text/javascript'></script>

    <script src='~/Scripts/plugins/jPaginate/jquery.paginate.js' type='text/javascript'></script>

    <script src='~/Scripts/plugins/artDialog/jquery.artDialog.js?skin=chrome' type='text/javascript'></script>

    <script src='~/Scripts/plugins/artDialog/plugins/iframeTools.source.js' type='text/javascript'></script>


    <script src="~/Scripts/JSON.js"></script>


    <script src='~/Scripts/plugins/lazyload/jquery.lazyload.js?v=115' type='text/javascript'></script>

    <script src='~/Scripts/plugins/lazyload/lazyload.js?v=115' type='text/javascript'></script>
    @helper WrightPageUrl(int pageIndex)
{
    var index = pageIndex;
    @:/user/PointsLog?pageindex=@index&pagesize=@ViewBag.PageSize&keyword=@ViewBag.KeyWord
}
    <script type="text/javascript">
        $(function () {
            //翻页
            $(".goto_area a.page_go").click(function () {
                var pageindex = $(this).parent().find("input").val();
                var reg = /^\+?[1-9][0-9]*$/;
                if (typeof pageindex == "undefined" || pageindex == "" || !reg.test(pageindex)) {
                    ShowMessage("请输入要跳转的页面", "error");
                    return;
                }
                var pagesize = $("#pageSize").val();
                var pagetotal = $("#pageTotal").val();
                var keyword = $("#keyInput").val();
                if (parseInt(pageindex) > parseInt(pagetotal)) {
                    ShowMessage("超过最大页面", "error");
                    return;
                }
                var url = "/user/pointslog?pageindex=" + pageindex + "&pagesize=" + pagesize + "&keyword=" + keyword;
                window.location.href = url;
            });
        });
        function searchbtn() {
            var pagesize = $("#pageSize").val();
            var pageindex = $("#pageIndex").val();
            var keyword = $("#keyInput").val();
            var url = "/user/PointsLog?pageindex=" + pageindex + "&pagesize=" + pagesize + "&keyword=" + keyword;
            window.location.href = url;
        }


    </script>
</body>
</html>
