@using ZJB.Core.Utilities
@using ZJB.WX.Models
@{
    Layout = null;
}
@model UserModels


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>我的房产盒子--房产盒子</title>
    <link href='/css/common.css' rel='stylesheet' type='text/css' />
    <link href='/css/register.css' rel='stylesheet' type='text/css' />
</head>

<body>

    <div id="login-background">
        <div id="login-main">
            <div id="register-content">
                <div id="login-center">
				
                    @{
                        int status =  ViewBag.Status ;
                        switch (status)
                        {
                            case -1:
                                	<ul class="font-16 form_body">
                        
	                                    <li style="height:120px;text-align:center"><span class="zhuce" style="padding-top:50px;font-weight:normal;display:inline-block;font-size:20px">
                                                   房产盒子提示：无效的参数！                                   

	                                                                               </span></li></ul>
                   break;
                         case -2:
                                	<ul class="font-16 form_body">
                        
	                                    <li style="height:120px;text-align:center"><span class="zhuce" style="padding-top:50px;font-weight:normal;display:inline-block;font-size:20px">
                                                                                      房产盒子提示：联合网用户手机号码格式不正确！  <a href="http://my.ZJB.com/quit.aspx?toUrl=http://my.ZJB.com/JJR/FzHzHelper/Invite.aspx?id=@(ViewBag.Uid)" class="qudenglu">换个帐号</a>                                

	                                                                               </span></li></ul>
                   break;
                          case -3:
                                	<ul class="font-16 form_body">
                        
	                                    <li style="height:120px;text-align:center"><span class="zhuce" style="padding-top:50px;font-weight:normal;display:inline-block;font-size:20px">
                                                                                      房产盒子提示：用户名不能为空!  <a href="http://my.ZJB.com/quit.aspx?toUrl=http://my.ZJB.com/JJR/FzHzHelper/Invite.aspx?id=@(ViewBag.Uid)" class="qudenglu">换个帐号</a>                                

	                                                                               </span></li></ul>
                   break;
                    case -4:
                                	<ul class="font-16 form_body">
                        
	                                    <li style="height:120px;text-align:center"><span class="zhuce" style="padding-top:50px;font-weight:normal;display:inline-block;font-size:20px">
                                                                                      房产盒子提示：仅开放联合网房产经纪人注册!详情联系房产客服！ <a href="http://my.ZJB.com/quit.aspx?toUrl=http://my.ZJB.com/JJR/FzHzHelper/Invite.aspx?id=@(ViewBag.Uid)" class="qudenglu">换个帐号</a>                                

	                                                                               </span></li></ul>
                   break;
                   case -5:
                   <ul class="font-16 form_body">
                        
                            <li style="height:120px;text-align:center"><span class="zhuce" style="padding-top:50px;font-weight:normal;display:inline-block;font-size:20px">手机号码 <strong>@(Model.Tel)</strong> 已经注册，<a href="@Url.Action("Login")" class="qudenglu">我要登陆</a></span></li></ul>
                   break;
                   case 0:
                   <div class="weizhuce" id="xieyi">
						
						<div class="rgdt">
						<span class="zhucetls">房产盒子协议</span>
                          <p>房产盒子是一款永久免费的房产中介管理系统,是一款针对房源信息发布和获取的系统!房产盒子集合了各大知名的房产门户网，通过房产盒子，房源发布这可以一键批量发布房源信息，批量管理房源发布的信息，以及可以设置自动更新，用于提高房源被发现率，增加房屋销售量，增加有意向客户数量，增加有效询盘电话数量，增加经纪人的房源数量，最大化减少经纪人在互联网上寻找房源或发布信息以及维护房源信息而耗费的时间等。
</p><p style="margin-top:15px">
    房产盒子会员用户，注册账号即可获得100分初始积分，次日起每天都从会员账上扣除一定量积分（现定消耗20分/天），扣完则会员冻结，不再继续消耗积分。被冻结帐号可通过相关渠道获取积分，即可自动解除冻结。会员用户在使用盒子相应功能过程中，即可完成房产盒子的活跃任务并获得相应积分，永久免费使用房产盒子，So easy！
</p><p style="margin-top:15px">
    房产盒子用户一经点击注册或者直接登录的行为视为对本协议的接受，对用户具有法律约束力。
</p>
<div class="tongyi"><a href="javascript:;" onclick="$('#xieyi').hide();$('#kuaisuzhuce').show()">我同意房产盒子协议</a></div></div>
</div>
                                <ul class="font-16 form_body" id="kuaisuzhuce" style="display:none">
                                    <li><span class="zhuce">快速注册</span></li>
                                    <li style="height:130px">
                                        <label for="userPwd">我的头像：</label>
                                        <img src="@Model.Portrait" style="width:120px;height:120px" />
                                        <input type="hidden" name="tel" id="tel" value="@(Model.Portrait)" />
                                        <input type="hidden" name="info" id="info" value="@(ViewBag.Info)" />
                                        <input type="hidden" name="from" id="from" value="@(ViewBag.From)" />
                                    </li>
                                    <li>
                                        <label for="tel">手机号码：</label><span>@(Model.Tel)</span>
                                        <input type="hidden" name="tel" id="tel" value="@(Model.Tel)"  />
                                        <span id="errorTel" class="errorInput"></span>
                                    </li>
                     
                                    <li>
                                        <label for="name">用户名：</label><span>@(Model.UserName)</span>
                                        <input type="hidden" name="name" id="name" value=""  />
                                        <span id="errorName" class="errorInput"></span>
                                    </li>
                                    <li>
                                        <label for="userPwd"><span style="color: #e51c23">*</span> 设置密码：</label>
                                        <input type="password" name="userPwd" id="userPwd" value="" />
                                        <span id="errorPwd" class="errorInput"></span>
                                    </li>
                                    <li>
                                        <label for="userPwd"><span style="color: #e51c23">*</span> 确认密码：</label>
                                        <input type="password" name="re_userPwd" id="re_userPwd" value="" />
                                    </li>
                                    <li>
                                        <label for="selectcityname">所在城市：</label>
                                        <div style="z-index: 19" class="select_content city_content clearfix">
                                            <a class="select_boxer" id="select_boxer" href="javascript:void(0);">
                                                <span id="selectcityname" class="select_txt">厦门</span>
                                                <input type="hidden" value="592" id="cityId" name="cityId" />
                                                <span class="arrow"></span>
                                            </a>
                             
                                        </div>
                                        <span id="errorCity" class="errorInput"></span>
                                    </li>
                                    <li>
                                        <label for="companytext">所属公司：</label>
                                        <div class="relative" style="z-index: 15"><span>@(string.IsNullOrEmpty(Model.Company) ? Model.Store : Model.Company)</span>
                                            <input type="hidden" name="companyName" id="companyName" value="@(string.IsNullOrEmpty(Model.Company) ? Model.Store : Model.Company)" />
                                            <span id="errorCompany" class="errorInput"></span>
                                        </div>
                                    </li>
                                    <li id="liCompanyStore">
                                        <label for="companyStoreText">所属分店：</label>
                                        <div class="relative" style="z-index: 15"><span>@(Model.Store)</span>
                                            <input type="hidden" name="companyStore" id="companyStore" value="0" />
                                            <div id="companyStorelist" class="search_content" style="display: none;">

                                            </div>
                                            <span id="errorCompanyStore" class="errorInput"></span>
                                        </div>
                                    </li>
                      

                                    <li class="clear">
                                        <button id="login_btn" class="login-center" onclick="InviteRegister()">注册</button><span class="rg">已有账号?<a href="@Url.Action("Login")">去登录</a></span>
                                    </li>
                                </ul>
                    break;
                        }
                    }
                
                    
                    <input type="hidden" id="path" value="" />
                </div>
                <div id="login-footer">
                    <p>版权所有：房产盒子&nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>

                <!-- IE7提示 -->
                <div class="navigator" style="display:none">
                    <h5>温馨提示</h5>
                    <ul class="navigator-content">
                        <li>亲爱的用户您好：</li>
                        <li class="navigator-margin">由于您的浏览器版本偏低,导致房产盒子系统页面展现异常,建议您更新浏览器版本。</li>
                        <li>房产盒子系统在谷歌、火狐、及IE8以上的浏览器展现效果比较良好，建议使用相应的浏览器，谢谢合作！</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src='/Scripts/jquery-1.8.3.js' type='text/javascript'></script>
   <script src='/Scripts/Register.js?v=2' type='text/javascript'></script>
    <script src='/Scripts/plugins/artDialog/jquery.artDialog.js?skin=chrome' type='text/javascript'></script>
    <script src='/Scripts/plugins/artDialog/plugins/iframeTools.source.js' type='text/javascript'></script>
    <script type="text/javascript">
      
   
    </script>
</body>
</html>